In [2]:
import pandas
from datetime import datetime
from pytz import utc
data = pandas.read_csv('reviews.csv',parse_dates=['Timestamp'])

In [3]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [4]:
data['Month'] = data['Timestamp'].dt.strftime('%Y-%m')

In [5]:
data

,Course Name,Timestamp,Rating,Comment,Month
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN,2021-04
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN,2021-04
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN,2021-04
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN,2021-04
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN,2021-04
...,...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN,2018-01
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN,2018-01
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN,2018-01
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN,2018-01
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN,2018-01

In [7]:
monthly_average = data.groupby(['Month']).mean()

In [8]:
data_average_by_month

           Rating
Month
2018-01  4.429645
2018-02  4.436248
2018-03  4.421671
2018-04  4.468211
2018-05  4.396420
2018-06  4.375379
2018-07  4.393184
2018-08  4.344753
2018-09  4.347247
2018-10  4.374429
2018-11  4.386817
2018-12  4.342105
2019-01  4.401920
2019-02  4.346964
2019-03  4.333145
2019-04  4.420049
2019-05  4.405569
2019-06  4.398559
2019-07  4.382353
2019-08  4.417059
2019-09  4.451135
2019-10  4.483871
2019-11  4.493260
2019-12  4.471046
2020-01  4.439615
2020-02  4.428642
2020-03  4.480690
2020-04  4.475220
2020-05  4.448082
2020-06  4.482812
2020-07  4.517508
2020-08  4.470987
2020-09  4.485862
2020-10  4.515201
2020-11  4.479306
2020-12  4.528358
2021-01  4.551325
2021-02  4.567901
2021-03  4.589207
2021-04  4.544118